<h1>
  <mat-toolbar color="primary">
    <span>Employee List</span>
  </mat-toolbar>
</h1>
<mat-card >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. </th>
            <td mat-cell *matCellDef="let element" >{{element.id}}</td>
          </ng-container>
        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
                
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
          </ng-container>
        
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
</mat-card>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
