
table {
    width: 100%;
    text-align: center;
    
  }
  th, td {
    border: 1px solid rgb(181, 188, 196);
    border-collapse: collapse;
  }
  th {
    margin-left: 5%;
    padding-left: 10%;
    text-align: center;
  }