<form [formGroup]="employeeForm" #userForm="ngForm">
    <mat-toolbar color="primary">
        <span>Employee Details</span>
    </mat-toolbar>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="" style="padding: 10px;">

        <mat-form-field>
            <input matInput value="data.name.name" type="text" formControlName="name" placeholder="Employee Name">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="gender" placeholder="Gender">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="address" placeholder="Address">
        </mat-form-field>
        <div padding="10px"></div>
        <mat-card-actions>
            <div fxLayoutAlign="center center">
                <button mat-raised-button position="bottom-right" color="primary" type="submit" (click)="setForm()"
                    id="btnsave">OK</button>
                <button mat-raised-button color="accent" type="submit" (click)="onClose()" id="btnclose">Close</button>
            </div>
        </mat-card-actions>
    </div>

</form>