<h1>
    <mat-toolbar color="primary">
        <div style="width:100%" fxLayoutAlign="center center">Dashboard</div>
    </mat-toolbar>
</h1>
<div fxlayout="center left">
    <button mat-raised-button color="primary" type="button" (click)="getForm()">Employee Form</button>
    <button mat-raised-button color="primary" type="button" (click)="getList()">Employee List</button>
</div>