<form [formGroup]="employeeForm" #userForm="ngForm">
    <mat-card>
        <mat-toolbar color="primary">
            <span>Employee Details</span>
        </mat-toolbar>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">


            <mat-form-field>
                <input matInput type="text" formControlName="name" placeholder="Employee Name">
                <mat-error>
                    Employee Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" formControlName="gender" placeholder="Gender">
                <mat-error>
                    Gender is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" formControlName="address" placeholder="Address">
                <mat-error>
                    Address is required
                </mat-error>
            </mat-form-field>
        </div>

        <mat-card-actions>
            <div fxLayoutAlign="center center">
                <button mat-raised-button color="primary" type="submit" (click)="save(userForm)"
                    id="btnsave">Save</button>
                <button mat-raised-button color="accent" type="reset" id="btnreset" name="btnrset"
                    class="resetbutton">Reset</button>
                <button mat-raised-button color="primary" (click)="deleteId(userForm)" type="submit"
                    id="btndelete">Delete</button>
            </div>
        </mat-card-actions>
    </mat-card>
    <div style="padding:20px"></div>
    <mat-card>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. </th>
                <td mat-cell *matCellDef="let element" (click)="getId(element.id)">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Name </th>
                <td mat-cell *matCellDef="let element" (click)="getId(element.id)"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Gender </th>
                <td mat-cell *matCellDef="let element" (click)="getId(element.id)"> {{element.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Address </th>
                <td mat-cell *matCellDef="let element" (click)="getId(element.id)"> {{element.address}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</form>